


$primary-font: 'Gilroy';
$secondary-font: 'Montserrat', sans-serif;
$third-font: 'Rubik', sans-serif;
$fourth-font: 'Open Sans', sans-serif;
$fifth-font: 'Barlow Condensed', sans-serif;
$sixth-font: 'Karla', sans-serif;
$light-color: #ffffff;
$dark-color: #312b2b;
$title-color: #001a40;
$title-color-2: #a9b5c9;
$paragraph-color: #6e7c90;
$hover-color: #03a3f0;
$link-color: #03a3f0;
$link-color-2: #00b0fa;

$home2-main-color: #000c35;
$home2-link-color: #ef4060;
$home2-paragraph-color: #626981;

$home3-link-color: #3b74ff;

$home4-main-color: #000926;

$home6-main-color: #247ffb;
$home6-main-color-2: #fff323;
$home6-title-color: #003160;
$home6-title-color-2: #6b8fb2;
$home6-text-color: #6d94ba;

